<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:
1. Understand 3 Chicago datasets  
1. Load the 3 datasets into 3 tables in a Db2 database
1. Execute SQL queries to answer assignment questions

## Understand the datasets 
To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2



### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t




### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

### Download the datasets
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):
1. __CENSUS_DATA:__ https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv
1. __CHICAGO_PUBLIC_SCHOOLS__  https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv
1. __CHICAGO_CRIME_DATA:__ https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

__NOTE:__ Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables
To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:
1. __CENSUS_DATA__
1. __CHICAGO_PUBLIC_SCHOOLS__
1. __CHICAGO_CRIME_DATA__

### Connect to the database 
Let us first load the SQL extension and establish a connection with the database

In [2]:
import numpy as np
%sql SELECT tabname FROM syscat.tables where tabschema='HFF17991'

 * ibm_db_sa://hff17991:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('CENSUS_DATA',), ('CHICAGO_PUBLIC_SCHOOLS',), ('CHICAGO_CRIME_DATA',)]

In [3]:
%sql SELECT colname FROM syscat.columns where tabname='CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://hff17991:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('10th Grade PLAN (2009) ',),
 ('10th Grade PLAN (2010) ',),
 ('11th Grade Average ACT (2011) ',),
 ('9th Grade EXPLORE (2009) ',),
 ('9th Grade EXPLORE (2010) ',),
 ('AVERAGE_STUDENT_ATTENDANCE',),
 ('Adequate Yearly Progress Made? ',),
 ('Average Teacher Attendance',),
 ('COLLEGE_ENROLLMENT',),
 ('COMMUNITY_AREA_NAME',),
 ('COMMUNITY_AREA_NUMBER',),
 ('CPS Performance Policy Level',),
 ('CPS Performance Policy Status',),
 ('City',),
 ('Collaborative Name',),
 ('College Eligibility %',),
 ('College Enrollment Rate %',),
 ('Elementary, Middle, or High School',),
 ('Environment Icon ',),
 ('Environment Score',),
 ('Family Involvement Icon',),
 ('Family Involvement Score',),
 ('Freshman on Track Rate %',),
 ('General Services Route ',),
 ('Gr-8 Explore Math %',),
 ('Gr-8 Explore Read %',),
 ('Gr3-5 Grade Level Math %',),
 ('Gr3-5 Grade Level Read % ',),
 ('Gr3-5 Keep Pace Math %',),
 ('Gr3-5 Keep Pace Read %',),
 ('Gr6-8 Grade Level Math %',),
 ('Gr6-8 Grade Level Read %',),
 ('Gr6-8 Keep Pace Math%',),
 ('Gr6-8 Keep Pace Read %',),
 ('Graduation Rate %',),
 ('HEALTHY_SCHOOL_CERTIFIED',),
 ('ISAT Exceeding Math %',),
 ('ISAT Exceeding Reading % ',),
 ('ISAT Value Add Color Math',),
 ('ISAT Value Add Color Read',),
 ('ISAT Value Add Math',),
 ('ISAT Value Add Read',),
 ('Individualized Education Program Compliance Rate ',),
 ('Instruction Icon ',),
 ('Instruction Score',),
 ('Latitude',),
 ('Leaders Icon ',),
 ('Leaders Score ',),
 ('Link ',),
 ('Location',),
 ('Longitude',),
 ('NAME_OF_SCHOOL',),
 ('Net Change EXPLORE and PLAN',),
 ('Net Change PLAN and ACT',),
 ('Network Manager',),
 ('Parent Engagement Icon ',),
 ('Parent Engagement Score',),
 ('Parent Environment Icon',),
 ('Parent Environment Score',),
 ('Phone Number',),
 ('Pk-2 Literacy %',),
 ('Pk-2 Math %',),
 ('Police District',),
 ('Rate of Misconducts (per 100 students) ',),
 ('SAFETY_SCORE',),
 ('Safety Icon ',),
 ('School ID',),
 ('State',),
 ('Street Address',),
 ('Students Passing  Algebra %',),
 ('Students Taking  Algebra %',),
 ('Teachers Icon ',),
 ('Teachers Score',),
 ('Track Schedule',),
 ('Ward',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('ZIP Code',),
 ('index',)]

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From the __uri__ field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://ibm.box.com/shared/static/hzhkvdyinpupm2wfx49lkr71q9swbpec.jpg">

## Problems
Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table

In [4]:
# Rows in Crime table
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * ibm_db_sa://hff17991:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### Retrieve first 10 rows from the CRIME table

In [5]:
%sql SELECT * FROM CHICAGO_CRIME_DATA LIMIT 10

 * ibm_db_sa://hff17991:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(0, 3512276, 'HK587712', '08/28/2004 05:50:56 PM', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, '02/10/2018 03:50:01 PM', 41.807440500000006, -87.70395585, '(41.8074405, -87.703955849)'),
 (1, 3406613, 'HK456306', '06/26/2004 12:40:00 PM', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, '02/28/2018 03:56:25 PM', 41.89827996, -87.71640551, '(41.898279962, -87.716405505)'),
 (2, 8002131, 'HT233595', '04/04/2011 05:45:00 AM', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 0, 0, 221, 2, 3.0, 38.0, '6', 1177436.0, 1876313.0, 2011, '02/10/2018 03:50:01 PM', 41.81593313, -87.62464213, '(41.815933131, -87.624642127)'),
 (3, 7903289, 'HT133522', '12/30/2010 04:30:00 PM', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 0, 0, 423, 4, 7.0, 46.0, '6', 1194622.0, 1850125.0, 2010, '02/10/2018 03:50:01 PM', 41.74366532, -87.56246276, '(41.743665322, -87.562462756)'),
 (4, 10402076, 'HZ138551', '02/02/2016 07:30:00 PM', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 0, 0, 831, 8, 15.0, 66.0, '6', 1155240.0, 1860661.0, 2016, '02/10/2018 03:50:01 PM', 41.773455299999995, -87.70648047, '(41.773455295, -87.706480471)'),
 (5, 7732712, 'HS540106', '09/29/2010 07:59:00 AM', '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 0, 0, 1323, 12, 27.0, 24.0, '6', 1171668.0, 1905607.0, 2010, '02/10/2018 03:50:01 PM', 41.89644677, -87.64493868, '(41.896446772, -87.644938678)'),
 (6, 10769475, 'HZ534771', '11/30/2016 01:15:00 AM', '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 1713, 17, 33.0, 14.0, '6', 1154133.0, 1933314.0, 2016, '02/10/2018 03:50:01 PM', 41.97284491, -87.70860008, '(41.972844913, -87.708600079)'),
 (7, 4494340, 'HL793243', '12/16/2005 04:45:00 PM', '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 1, 0, 213, 2, 3.0, 38.0, '6', 1180448.0, 1879234.0, 2005, '02/28/2018 03:56:25 PM', 41.82387989, -87.61350386, '(41.823879885, -87.613503857)'),
 (8, 3778925, 'HL149610', '01/28/2005 05:00:00 PM', '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 2211, 22, 19.0, 72.0, '6', 1160129.0, 1838040.0, 2005, '02/28/2018 03:56:25 PM', 41.71128051, -87.68917909999999, '(41.711280513, -87.689179097)'),
 (9, 3324217, 'HK361551', '05/13/2004 02:15:00 PM', '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 0, 0, 1733, 17, 35.0, 21.0, '6', 1153590.0, 1921084.0, 2004, '02/28/2018 03:56:25 PM', 41.93929582, -87.71092344, '(41.939295821, -87.710923442)')]

### Problem 3

##### How many crimes involve an arrest?

In [6]:
%sql SELECT COUNT(arrest) FROM CHICAGO_CRIME_DATA WHERE arrest=1

 * ibm_db_sa://hff17991:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

### Problem 4

##### Which unique types of crimes have been recorded at GAS STATION locations?

In [16]:
%sql select unique(primary_type) as unique_crimes_at_gas_station from CHICAGO_CRIME_DATA where location_description = 'GAS STATION'

 * ibm_db_sa://hff17991:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0134N  Improper use of a string column, host variable, constant, or function "UNIQUE_CRIMES_AT_GAS_STATION".  SQLSTATE=42907 SQLCODE=-134 [SQL: "select unique(primary_type) as unique_crimes_at_gas_station from CHICAGO_CRIME_DATA where location_description = 'GAS STATION'"] (Background on this error at: http://sqlalche.me/e/f405)

Hint: Which column lists types of crimes e.g. THEFT?

### Problem 5

##### In the CENUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [8]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where COMMUNITY_AREA_NAME like 'B%'

 * ibm_db_sa://hff17991:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

### Problem 6

##### Which schools in Community Areas 10 to 15 are healthy school certified?

In [9]:
%sql select NAME_OF_SCHOOL from CHICAGO_PUBLIC_SCHOOLS where HEALTHY_SCHOOL_CERTIFIED=(select HEALTHY_SCHOOL_CERTIFIED from CHICAGO_PUBLIC_SCHOOLS where "index"=0) \
and COMMUNITY_AREA_NUMBER >= 10 and COMMUNITY_AREA_NUMBER <= 15

 * ibm_db_sa://hff17991:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

### Problem 7

##### What is the average school Safety Score?

In [10]:
%sql SELECT AVG(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://hff17991:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(49.50487329434698,)]

### Problem 8

##### List the top 5 Community Areas by average College Enrollment [number of students]

In [11]:
problem8QRY = %sql select COMMUNITY_AREA_NAME, "College Enrollment Rate %" from CHICAGO_PUBLIC_SCHOOLS
problem8 = problem8QRY.DataFrame()
problem8['College Enrollment Rate %'].replace(to_replace='NDA', value=np.nan, inplace=True)
problem8.dropna(inplace=True)
problem8.sort_values(by='College Enrollment Rate %', ascending=False, inplace=True)
problem8.head()

 * ibm_db_sa://hff17991:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

    community_area_name College Enrollment Rate %
408          NORTH PARK                      90.7
531      NEAR WEST SIDE                      88.3
207            ROSELAND                      87.9
553                LOOP                      86.9
460      WEST ENGLEWOOD                      85.9

### Problem 9

##### Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [12]:
%sql select COMMUNITY_AREA_NAME from CHICAGO_PUBLIC_SCHOOLS where SAFETY_SCORE=(select min(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS)

 * ibm_db_sa://hff17991:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK',)]

### Problem 10

##### [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [13]:
%sql select * from census_data where COMMUNITY_AREA_NUMBER=(select COMMUNITY_AREA_NUMBER from chicago_public_schools where SAFETY_SCORE=1.0)

 * ibm_db_sa://hff17991:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(39, 40.0, 'Washington Park', 5.6, 42.1, 28.6, 25.4, 42.8, 13785, 88.0)]

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).